.header {
  padding: 92px 24px 92px 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.header__links-list {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  display: flex;
  list-style-type: circle;
  gap: 35px; 
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 100%;
  height: 100%;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  margin-right: 30px; 
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__contacts-link {
  max-width: 240px;
  text-underline-offset: 3px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-size: 100% 100%;
  padding: 165px 50px 51px 50px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
  font-size: 100px;
  gap: 21px;
  margin-bottom: 135px;
  
}

.aligned-text {
  display: flex;
  text-align: left;
  line-height: 115px;
  letter-spacing: 30px;
}

.aligned-text:last-child {
  display: block;
  margin-bottom: 0;
}

.aligned-text_center {
  text-align: center;
  margin-left: 5px;
  line-height: 100px;
  letter-spacing: 30px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
  width: 1100px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  margin-left: 25px;
  margin-right: 75px;
  line-height: 28px;
  align-self: center;
  word-spacing: 20px;
}

.bet-button {
  max-width: 256px;
  display: flex;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-family: Raleway;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  padding: 12px 32px 11px 31px;
}

.cards-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 20px 35px 20px;
}

.cards-list__item {
  flex-grow: 1;
  min-height: 100%;
  width: 334px;
}

.card-link {
  height: 100%;
  margin: auto;
  display: flex;
  text-decoration: none;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  inset: 0;
  position: absolute;
  z-index: -1;
}

.lots {
  margin-top: 185px;
}

.lots__title {
  align-self: start;
  line-height: 46.96px;
  padding-left: 62px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
}

.card__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 563px;
  background-size: 100% 100%;
  padding: 0px 50px 201px 50px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  padding: 50px 40px;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  padding: 50px 40px;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  padding: 50px 40px;
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-bottom: 50px;
  margin: 0px 0px 0px 60px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.about {
  margin-top: 120px;
  display: flex;
}

.about__logo {
  align-self: flex-start;
  width: 240px;
  height: 240px;
  background-color: #000;
  margin-left: 70px;
  margin-top: 55px;
  border-radius: 50%;
}

.about__logo-image {
  margin-top: 60px;
  width: 240px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__column {
  margin: 15px;
  gap: 36px;
  display: flex;
  flex-direction: column;
  padding-top: 135px;
}

.about__title {
  margin-left: 60px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 62px;
}

.about__text {
  margin-left: 60px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  padding-top: 160px;
}

.content-section {
  display: flex;
  margin: auto;
  max-width: 1100px;
}

.footer__menu {
  list-style-type: none;
  text-align: center;
  gap: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;
}

.footer__links-list {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  list-style-type: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__contacts-item {
  text-underline-offset: 3px;  
}

.footer__menu-item_active {
  list-style-type: none;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__socials-icon {
  width: 48px;
  height: 48px;
}

