.header {
  width: 1052px;
  display: flex;
  padding: 92px 24px 97px; 
  
}

.content-section {
  width: 1100px;
  min-height: 105px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.content-section_theme_overlay {
  color: #000;
  background-color: deepskyblue;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FFFFFF;
}

.header__menu-list {
  width: 387px;
  display: flex;
  list-style-type: circle;
} 

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 70px;
}

.header__logo-image {
   width: 100%; 
} 

.header__contacts {
  margin: auto;
  list-style-type: none;
}

.header__menu-item_active {
  list-style-type: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}
.header__menu-link {
  margin-right: 30px;
}

.header__contacts-item_active .header__contacts-link  {
  text-decoration: none;
}

.header__menu-item {
  text-underline-offset: 1px;
}

.header__contacts-item {
  text-underline-offset: 3px;
}

.content { 
  width: 1100px;
  margin: auto;
  max-height: 757px;
}

.cover {  
  width: 1100px;
  height: 757px;
  position: relative;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-size: 140% auto;
  padding: 0px 50px 201px 50px;
  background-position: top center;
  z-index: 1;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  inset: 0;
  position: absolute; 
  background-size: 100% auto;;
  width: 1100px;
  min-height: 105px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 2;
} 

.cover__title {
  color: #fff;
  font-family: 'Raleway', serif;
  z-index: 3;
  font-size: 100px;
  width: 1100px;
} 

.aligned-text {
  display: block;
}

.no-letter-spacing {
  word-spacing: 30px; /*пробел между  н адо*/
}

.letter-spacing-extended {
  letter-spacing: 30px;  /*пробел между буквами в словах*/
  word-spacing: -20px;  /*пробел между   он о  теб е*/
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  width: 850px;
  height: 50px;
  left: 82px;
  top: 667px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
}





.cards-list {
  display: flex;
  list-style-type: none;
  gap: 15px;
  margin: 20px;
  
}

.cards-list__item {
  flex-grow: 1;
  min-height: 692px;
}

.card-link {
  min-height: 100%;
  width: 334px;
  margin: auto;
  /* max-height: 757px; */
  display: flex;
  text-decoration: none;

}

.card {
  height: 563px;
  position: relative;
  text-transform: uppercase;
  background-size: 140% auto;
  padding: 0px 50px 201px 50px;
  background-position: top center;
  z-index: 1;
}

.overlay__lots {
  background-color: #000;
  opacity: 0.6;
  inset: 0;
  position: absolute;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  z-index: 2;
} 


.lots {
  margin-top: 185px;
}

.lots__title {
  align-self: start;
  padding-left: 62px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  
}

.card__title {
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: underline;
}

.card__text {
  text-transform: none; 
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF; 
  
}
  
.cards-list__item {
  margin-bottom: 0;
}

.card_type_film .card__text {
  /* text-decoration: line-through; */
  /* padding-bottom: 50px ; */
}

.card_type_film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  list-style-type: none;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  filter: brightness(200%);
}
  
.card_type_book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: brightness(200%);
  padding: 50px 40px;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  filter: brightness(200%);

}

.lots__look-more-link {
  margin-left: 60px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}



.about {
  display: flex;
  /* height: 595px; */
  
}

.about__column { 
  list-style-type: none;
  margin: 10px;
  display: flex;
  gap: 75px;
  
}

.about__logo {
  align-self: flex-start;
  width: 240px;
  height: 240px;
  background-color: #000;
  margin-left: 60px;
  margin-top: 55px;
  border-radius: 100%;

}

.about__logo-image {
  margin-top: 60px;
  width: 240px;
  height: 114px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about__content {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  
}

.about__title {
width: 291px;
height: 47px;
left: 0px;
top: 0px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
text-transform: uppercase;
color: #000000;
padding-bottom: 178px;
}

.about__text-upper-part {
  margin-bottom: 50px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;


  color: #000000;
}

.about__text {
  padding-bottom: 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
  
.about__text-upper-part .about__text {






 


}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  height: 3640px;
}

 .content-section {
  display: flex;
  margin: auto;
  width: 1100px;
}

.footer__contacts {
  list-style-type: none;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
} 

.footer__socials {
  display: flex;
  gap: 48px;
}

.footer__contacts-item {
  text-underline-offset: 3px;
}

.footer__menu-item_active {
  list-style-type: none;
}

.footer__socials-image {
width: 48px;
height: 48px;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.footer__contacts-item_active .footer__contacts-link  {
  text-decoration: none;
}